# .gitignore sample project-specific
# delete blocks with language sources not on your project
# see here for more: https://github.com/github/gitignore

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# Logs and databases #
######################
*.log
*.sql
*.sqlite
